/*шрифты*/
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham_Pro/gothampro.ttf");
  line-height:  0;
}
@font-face {
  font-family: "GothamM";
  src: url("../fonts/Gotham_Pro/gothampro_medium.ttf");
}
@font-face {
  font-family: "TTB";
  src: url("../fonts/TTTravels/TTTravels-Bold.ttf");
}
@font-face {
  font-family: "TTM";
  src: url("../fonts/TTTravels/TTTravels-Medium.ttf");
}

html {
  
}
.logo{
  top: 25px;
  display: flex;
    justify-content: space-between;
    position: relative;
}
/*обёртка*/
.wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  align-items: center;
  }
  .wrapperB {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 0px 0;
    margin-block-end: 50px;
    cursor: pointer;
    align-items: center;
    }

    .wrapperX {
      display: flex;
      justify-content: space-around;
      position: relative;
      margin: 0px 300;
      margin-block-end: 50px;
      cursor: pointer;
      align-items: center;
      }
    
  


body{
    background-color: black;
color: white;
padding-left:60px;
padding-right:60px;
background-image: url(../../files/guitar-neck-black-background-guitar-playing-guitar-concepts-wooden-guitar\ 1.png);
background-repeat: no-repeat;
background-size: cover;


}

p {
  margin: 1px 0;
  padding: 1px;
  font-family: "GothamM";
  font-size: 55%;
  cursor: pointer;
  margin-block-end: 0px;
}
/*голова*/
h5{
  font-family: "TTB";
  font-size: 25rem;
  cursor: pointer;
  margin-block-end: 0px;
  }
  /*заголовок*/
h1{
  font-family: "TTB";
  line-height:90%;
  font-size: 4rem;
  margin-block-end: 30px;
  margin-top: 0;
  }
  /*текст*/
    h6{
      font-family: "Gotham";
      line-height:120%;
      font-size: 1rem;
      margin-block-start: 20px;
      margin-block-end: 20px;
      
      }





/*button1*/
.styled1 {
  width:222.5;
  height:65;
  border: 0;
  padding: 0 20px;
  font-family: "TTM";
  font-size: 1rem;
  text-align: center;
  color: #000;
  border-radius: 41.67px;
  background-color: rgba(222, 225, 225, 1);
  cursor: pointer;
  margin-block-start: 30px;
}
.styled1:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


/*button2*/
.styled2 {
  width:222.5;
  height:65;
  border: 0;
  padding: 0 20px;
  font-family: "TTM";
  font-size: 1rem;
  text-align: center;
  color: #fff;
  border-radius: 41.67px;
  background-color: rgba(220, 0, 0, 1);
  cursor: pointer;
  margin-block-start: 30px;
}
.styled2:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
/*контейнер*/
.container {
  display: flex;
}

/*стили прямоугольников*/
.rectangle1 {
  position:relative;
  bottom: 260px;
  left: 600px;
  background-color: #D4CEC5;
  opacity: .3;
  backdrop-filter: blur(1px);
  height: 500px;
  width: 215px;
  border-radius: 166px;
  margin-right: 37.5px;
  
}

.rectangle2 {
  position:relative;
  bottom: 260px;
  left: 600px;
  background-color: #D4CEC5;
  opacity: .3;
  backdrop-filter: blur(1px);
  height: 500px;
  width: 215px;
  border-radius: 166px;
  margin-left: 37.5px;
  
}
.guitars {
  display:flex;
  position:static;
  cursor:pointer;
}
.guitar1 {
  position:relative;
  bottom: 230px;
  left: 135px;
  margin-right: 70px;
}
.guitar2 {
  position:relative;
  bottom: 230px;
  left: 135px;
  margin-left: 70px;
}

.LP{position:absolute;
  bottom: 300px;
  left: 740px;
}
.ST{position:absolute;
  bottom: 295px;
  left: 1015px;
}
h5{
  font-family: "GothamM";
  font-size: 55%;
  cursor: pointer;
  }

.grnt{
  position:absolute;
  bottom: 640px;
  left: 1000px;
  margin-left: 70px;
}

 /*круги*/
.circle1{
  width:412;
  height:412;
  background-color: #D4CEC5;
  opacity: .3;
  backdrop-filter: blur(1px); 
  border-radius: 206px;
}
.circle2{
  width:412;
  height:412;
  background-color: #D4CEC5;
  opacity: .3;
  backdrop-filter: blur(1px); 
  border-radius: 206px;

}
.circle3{
  width: 330;
  height:330;
  background-color: #D4CEC5;
  opacity: .3;
  backdrop-filter: blur(1px);
  border-radius: 206px;

} 


.vector{
  margin-left: 400px;
  margin-right: 400px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  align-items: center;
  margin-bottom: 50px;
}

.left {
  width: 40%;
}

.1
{}